# Môi trường ảo (Virtual Environment)
.venv/
venv/
env/
*.pyc

# Database (Nếu dùng SQLite)
*.sqlite3
/data/*.db

# Log và file tạm (Logs and temporary files)
*.log
*.tmp
.DS_Store # Dành cho người dùng MacOS

# File cấu hình riêng của IDE (VS Code)
.vscode/

# Thư mục chứa media người dùng upload (Nếu có)
/media/